#text{

    height: 25px; 
    border-radius: 5px;
    padding: 4px;
    border: solid thin #FAEBD7;
    width: 100%;
}

#button{

    padding: 10px;
    width: 100px;
    color: #4D0000;
    background-color: #FFDEAD;
    border: none;
}

#box{

    background-color: #FAEBD7;
    margin: auto;
    width: 300px;
    padding: 20px; 
}